WS.Unit05.Example2.Application/Connected Services/WSClient.DataWS/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.unit05.example2-data/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.unit05.example2-data/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.unit05.example2-data/">
      <s:element name="GetStatistics">
        <s:complexType />
      </s:element>
      <s:element name="GetStatisticsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatisticsResult" type="tns:ArrayOfStatistics" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStatistics">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Statistics" nillable="true" type="tns:Statistics" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Statistics">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Visits" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProductStatistics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductStatisticsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetProductStatisticsResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateProductStatistics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateProductStatisticsResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateProductStatistics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProductStatisticsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStatisticsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatistics" />
  </wsdl:message>
  <wsdl:message name="GetStatisticsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductStatisticsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductStatistics" />
  </wsdl:message>
  <wsdl:message name="GetProductStatisticsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateProductStatisticsSoapIn">
    <wsdl:part name="parameters" element="tns:CreateProductStatistics" />
  </wsdl:message>
  <wsdl:message name="CreateProductStatisticsSoapOut">
    <wsdl:part name="parameters" element="tns:CreateProductStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProductStatisticsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProductStatistics" />
  </wsdl:message>
  <wsdl:message name="UpdateProductStatisticsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProductStatisticsResponse" />
  </wsdl:message>
  <wsdl:portType name="DataServiceSoap">
    <wsdl:operation name="GetStatistics">
      <wsdl:input message="tns:GetStatisticsSoapIn" />
      <wsdl:output message="tns:GetStatisticsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductStatistics">
      <wsdl:input message="tns:GetProductStatisticsSoapIn" />
      <wsdl:output message="tns:GetProductStatisticsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateProductStatistics">
      <wsdl:input message="tns:CreateProductStatisticsSoapIn" />
      <wsdl:output message="tns:CreateProductStatisticsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductStatistics">
      <wsdl:input message="tns:UpdateProductStatisticsSoapIn" />
      <wsdl:output message="tns:UpdateProductStatisticsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatistics">
      <soap:operation soapAction="http://ws.unit05.example2-data/GetStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductStatistics">
      <soap:operation soapAction="http://ws.unit05.example2-data/GetProductStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProductStatistics">
      <soap:operation soapAction="http://ws.unit05.example2-data/CreateProductStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductStatistics">
      <soap:operation soapAction="http://ws.unit05.example2-data/UpdateProductStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatistics">
      <soap12:operation soapAction="http://ws.unit05.example2-data/GetStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductStatistics">
      <soap12:operation soapAction="http://ws.unit05.example2-data/GetProductStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProductStatistics">
      <soap12:operation soapAction="http://ws.unit05.example2-data/CreateProductStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductStatistics">
      <soap12:operation soapAction="http://ws.unit05.example2-data/UpdateProductStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
      <soap:address location="http://localhost:9090/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
      <soap12:address location="http://localhost:9090/DataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>